.banner {
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  border-radius:10px;
}

.wrap {
  display: inline-block;
  position: relative;
}

.wrap img {
  width: 100vw;
}

.wrap img + .content {
  text-align: left;
  position: absolute;
  top: 150px;
  left: 10%;
  color: Whitesmoke;
  font-size: 3em;
}

.short-description {
  font-size: 1.3em;
  padding: 10%;
}

.my-intrests {
  background-color: rgb(150, 0, 100);
  border-radius: 10px;
  margin: 5%;
  padding: 15%;
  text-align: center;
}

.my-intrests__heading {
  font-size: 3rem;
  background-color:  rgb(70, 50, 50);
  border-radius: 20px;
  padding: 5%;
}


.my-intrests__items {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.my-intrests__items > li {
  margin: 10px auto;
}

.my-intrests__icon {
  height: 30vh;
  width: 30vh;
  margin-top: 80px;
  background-color: Pink;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.programming-icon {
  background-image: url("../img/programming_icon.png");
}

.languages-icon {
  background-image: url("../img/languages-icon.png");
}

.chess-icon {
  background-image: url("../img/chess-icon.jpeg");
}

.reading-icon {
  background-image: url("../img/reading-icon.jpeg");
}
