

.banner {
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  border-radius:10px;
}

.wrap {
  display: inline-block;
  position: relative;
}

.wrap img {
  width: 100vw;
}

.wrap img + .content {
  text-align: left;
  position: absolute;
  top: 150px;
  left: 10%;
  color: Whitesmoke;
  font-size: 3em;
}

.short-description {
  font-size: 1.3em;
  padding: 10%;
}

