{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="banner">
  <div class="wrap">
    <img src="{{ url_for('static', path='img/chess-sqaure.jpg') }}" alt="me-playing-chess">
    <h1 class="content">Hi!<br>I'm Sujeet.</h1>
  </div>
</div>

<div class="short-description">
  <p>This is the very first website that I made.<br>
  This site features me and only me.</p>
</div>
<legend class="my-intrests">
  <h2 class="my-intrests__heading">My Intrests</h2>
  <ul class="my-intrests__items">
    <li>
      <div class="my-intrests__icon"></div>
      <h2>Programming</h2>
    </li>
    <li>
      <div class="my-intrests__icon"></div>
      <h2>Languages</h2>
    </li>
    <li>
      <div class="my-intrests__icon"></div>
      <h2>Chess</h2>
    </li>
    <li>
      <div class="my-intrests__icon"></div>
      <h2>Reading</h2>
    </li>
  </ul>
</legend>
  {% endblock %}
